/* Global Setup */
:root {
  --green: #2c7b35;
  --light-green: #48c957;
  --gold: #ffd952;
  --white: #dbdbdb;
}
@font-face {
  font-family: "Rowdies";
  font-display: swap;
  src: url("./fonts/Rowdies-Bold.ttf");
  src: url("./fonts/Rowdies-Light.ttf");
  src: url("./fonts/Rowdies-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rowdies", cursive;
}
html,
body {
  min-height: 100%;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background-color: #444444;
  color: var(--white);
  overflow-x: hidden;
}

/* Font/text Setup */
/* A neat tool to help pick font size: https://type-scale.com/?size=16&scale=1.250&text=A%20Visual%20Type%20Scale&font=Rowdies&fontweight=300&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false */
h1 {
  letter-spacing: 0.2em;
  font-size: 3.052rem;
}
h2 {
  letter-spacing: 4px;
  font-size: 2.441rem;
}
h3 {
  letter-spacing: 0.1em;
  font-size: 1.953rem;
}
h4 {
  margin-bottom: 2%;
  font-size: 1.563rem;
  letter-spacing: 1px;
}
h5 {
  font-size: 1.25rem;
}
p,
a,
label,
span {
  font-size: 1rem;
}

/* Generic element styling */
main {
  max-width: 414px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 38px 18px;
}
/* Button styling */
button {
  border: none;
  outline: none;
  font-size: 1em;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  padding: 8px 14px;
  margin: 2rem 0px;
  font-size: 1.25rem;
  transition: background-color linear 100ms, box-shadow linear 100ms;
  flex: 1;
}
button:hover {
  cursor: pointer;
}
button:focus {
  box-shadow: 0px 0px 0px 3px var(--light-green);
}
button.primary {
  background-color: var(--green);
}
button.primary:hover {
  background-color: #216829;
}
button.secondary {
  border: 2px solid var(--green);
  background-color: transparent;
}
button.secondary:hover {
  background-color: #00000032;
}
/* link styling */
a {
  text-decoration: none;
  color: var(--gold);
}
a.middle {
  position: relative;
}
a.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gold);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
}
a.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
a.left {
  position: relative;
}
a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gold);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
a.left:hover:before {
  visibility: visible;
  width: 100%;
}

/* generic custom classes */
.inherit-font-size {
  font-size: inherit;
}
.box-shadow {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.flex-container {
  display: flex;
}
.flex-justify-around {
  justify-content: space-around;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.text-block:not(.align-right) {
  border-left: 3px solid #646464;
  padding-left: 12px;
}
.text-block.align-right {
  border-right: 3px solid #646464;
  padding-right: 12px;
}
.white-font {
  color: var(--white);
}
.green-text {
  color: var(--light-green); /* light green for accessability */
}
.gold-text {
  color: var(--gold);
}

/* Section Header w/ Underline */
.section-header {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin-bottom: 24px;
}
.section-header.align-right {
  margin-left: auto;
}
.section-header::after {
  content: "";
  height: 2px;
  margin: 0;
  background: var(--white);
  position: absolute;
  width: 75%;
  bottom: -4px;
  left: 0;
}
.section-header.align-right::after {
  left: auto;
  right: 0;
}

/* accessibility menu specific styles */
#accessibility-menu button {
  position: absolute;
  color: transparent;
  background-color: transparent;
}
#accessibility-menu button:focus {
  color: var(--white);
  background-color: var(--green);
}

/* main section specific styles */
#main .club-name-header {
  top: 1px;
  right: 1px;
  color: #4b4b4b;
  text-transform: uppercase;
  font-size: 7em;
  z-index: -1;
  line-height: 7rem;
  text-align: right;
}
#main .main-title {
  margin-top: -3rem;
}
#main > p {
  font-size: 1.25rem;
  text-align: center;
  padding: 18px;
  margin: 6px 0px;
}
#main .button-group {
  display: flex;
  justify-content: space-evenly;
  gap: 12px;
  margin: 18px 0px;
}
#main .icons {
  height: 45px;
}

/* Our work section specific styles */
section#ourWork {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
#ourWork > h3 {
  margin-bottom: 0;
}
#ourWork .club-project > h4 {
  margin: 6px 0;
}
#ourWork .club-project > img {
  margin: 18px auto;
  display: block;
  width: 70%;
}
#ourWork .club-project > p {
  font-weight: normal;
}

/* Contact Us section specific styles */
#contact .contact-content > p {
  margin-top: 18px;
}
#contact .contact-content > h4 {
  margin-top: 32px;
}

form#contactForm {
  margin-top: 20px;
  display: grid;
  column-gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "nameLabel subjectLabel"
    "nameInput subjectInput"
    "messageLabel messageLabel"
    "messageInput messageInput"
    "submitBtn submitBtn";
}
#contactForm label {
  margin-top: 12px;
  margin-bottom: 4px;
}
#contact label[for="name"] {
  grid-area: nameLabel;
}
#contact label[for="subject"] {
  grid-area: subjectLabel;
}
#contact label[for="message"] {
  grid-area: messageLabel;
}
input:not([type="submit"]),
textarea {
  background-color: #232323;
  border: none;
  border-bottom: 2px solid #333;
  padding: 6px 8px;
  border-radius: 4px;
  color: var(--white);
  outline: none;
  transition: box-shadow linear 100ms;
}
input:not([type="submit"]):focus,
textarea:focus {
  box-shadow: 0px 0px 0px 2px var(--gold);
}
input#name {
  grid-area: nameInput;
  width: 100%;
}
input#subject {
  grid-area: subjectInput;
  width: 100%;
}
textarea#message {
  grid-area: messageInput;
  width: 100%;
}

form > button {
  grid-area: submitBtn;
  margin-top: 12px;
  margin-bottom: 36px;
  font-size: 1rem;
}

/* NavBar specific styling */
nav#navBar {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  bottom: 0;
}

#navBar .fa {
  font-size: 2.5em;
}

#navBar button:hover:not(:disabled) {
  background-color: #1c1d1c;
}

#navBar button {
  margin: 0;
  border-radius: 0;
  background-color: #222;
  color: var(--white);
  box-shadow: none;
}

#navBar button > svg {
  width: 2em;
  height: 2em;
}

#navBar button:focus {
  background-color: #1c1d1c;
  color: var(--white);
  box-shadow: 0px 0px 0px 3px var(--light-green) inset;
}

#navBar button:disabled {
  color: rgb(75, 75, 75);
}
